<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ url_for('static',filename='css/stack-interface.css') }}" rel="stylesheet" type="text/css" media="all">
        <link href="{{ url_for('static',filename='css/socicon.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ url_for('static',filename='css/iconsmind.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ url_for('static',filename='css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ url_for('static',filename='css/flickity.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ url_for('static',filename='css/stack-interface.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ url_for('static',filename='css/theme.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ url_for('static',filename='css/custom.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700" rel="stylesheet">


    </head>
    <body data-smooth-scroll-offset="77">
{% include 'header.html' %}        
        <div class="main-container">
            <section class="cover imagebg height-70 text-center" data-overlay="4">
                <div class="background-image-holder"><img alt="background" src="/static/img/aawall2.jpg"></div>
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-sm-10 col-md-8">
                            <h1>Coming soon</h1>
                            <p class="lead"> Keep coming back. See what's new</p>
                        </div>
                    </div>
                </div>
            </section>
{% include 'footer.html' %}  
        </div>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="{{ url_for('static',filename='js/jquery-3.1.1.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/flickity.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/parallax.js') }}"></script>
        <script src="{{ url_for('static',filename='js/countdown.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/smooth-scroll.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/scripts.js') }}"></script>


    </body>

</html>