        <div class="nav-container">
            <div>
                <div class="bar bar--sm visible-xs">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-3 col-sm-2">
                                <a href="/"> <img class="logo logo-dark" alt="logo" src="{{ url_for('static',filename='img/logo-dark2.png') }}"> <img class="logo logo-light" alt="logo" src="/static/img/logo-light.png"> </a>
                            </div>
                            <div class="col-xs-9 col-sm-10 text-right">
                                <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs hidden-sm"> <i class="icon icon--sm stack-interface stack-menu"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
                <nav id="menu1" class="bar bar-1 hidden-xs">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-1 col-sm-2 hidden-xs">
                                <div class="bar__module">
                                    <a href="/"> <img class="logo logo-dark" alt="logo" src="/static/img/logo-dark2.png"> <img class="logo logo-light" alt="logo" src="/static/img/logo-light.png"> </a>
                                </div>
                            </div>
                            <div class="col-md-11 col-sm-12 text-right text-left-xs text-left-sm">
                                <div class="bar__module">
                                    <ul class="menu-horizontal text-left">
                                        <li> <a href="/">
                                        Home
                                    </a> </li>                                        
                                        <li class="dropdown"> <span class="dropdown__trigger">
                                        Wallet
                                    </span>
                                            <div class="dropdown__container">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="dropdown__content col-md-2">
                                                            <ul class="menu-vertical">
                                                                <li> <a href="/wallet/newaddress">New Address</a> </li>
                                                                <li> <a href="/wallet/balance">Check Balance</a> </li>
                                                                <li> <a href="/wallet/sendkudo">Send Kudo</a> </li>
                                                                <li> <a href="/wallet/history">History</a> </li>                    
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="dropdown"> <span class="dropdown__trigger">
                                        About
                                    </span>
                                            <div class="dropdown__container">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="dropdown__content col-md-2">
                                                            <ul class="menu-vertical">
                                                                <li> <a href="#">Kudo</a> </li>
                                                                <li> <a href="#">Unihack</a> </li>
                                                                <li> <a href="#">Team</a></li>                    
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>  
                                        <li class="dropdown"> <span class="dropdown__trigger">
                                        Tutorial
                                    </span>
                                            <div class="dropdown__container">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="dropdown__content col-md-2">
                                                            <ul class="menu-vertical">
                                                                <li> <a href="#">Basic Operation</a> </li>
                                                                <li> <a href="#">Setup a node</a> </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>                                                                                
                                    </ul>
                                </div>
                                <div class="bar__module">
                                    <a class="btn btn--sm type--uppercase" href="http://159.65.1.34/"> <span class="btn__text">
                                    Explorer
                                </span> </a>
                                    <a class="btn btn--sm btn--primary type--uppercase" href="faucet"> <span class="btn__text">
                                    Faucet
                                </span> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>