<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ url_for('static',filename='css/stack-interface.css') }}" rel="stylesheet" type="text/css" media="all">
        <link href="{{ url_for('static',filename='css/socicon.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ url_for('static',filename='css/iconsmind.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ url_for('static',filename='css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ url_for('static',filename='css/flickity.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ url_for('static',filename='css/stack-interface.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ url_for('static',filename='css/theme.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ url_for('static',filename='css/custom.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700" rel="stylesheet">


    </head>
    <body data-smooth-scroll-offset="77">
        {% include 'header.html' %}   
        <div class="main-container">
            <section class="cover height-80 imagebg text-center" data-overlay="4">
                <div class="background-image-holder"> <img alt="background" src="static/img/aawall2.jpg"> </div>
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-sm-8 col-md-7">
                            <h1> Myanmar experimental crypto token</h1>
                            <p class="lead">We create 1 billion kudos and distributed for fun, we built for UNIHACK3 blockchain hackathon to familiarize people with crypto-economy as simple as possible. Get your token and see what you can do with it!</p>
                            <a class="btn btn--primary type--uppercase" href="/wallet/newaddress"> <span class="btn__text">
						Get Your Kudo Wallet Now</span> </a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="switchable feature-large  bg--dark">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-5">
                            <div class="switchable__text">
                                <h2>Build to be catalyst for Myanmar blockchain developer</h2>
                                <p class="lead">There are many approaches&nbsp;to introduce blockchain and crypto ecosystem. We create Kudo on permissioned&nbsp;blockchain to simplify the security and create a controlled environment where people can start collaborate and see what they can do on the ecosystem.</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="boxed boxed--lg boxed--border">
                                <div class="feature feature-2"> <i class="icon icon-Clock-Back color--primary"></i>
                                    <div class="feature__body">
                                        <h5>Faster confirmation</h5>
                                        <p>Unlike 10 minutes bitcoin, Kudo&nbsp;confirmation time is 15 seconds.</p>
                                    </div>
                                </div>
                                <div class="feature feature-2"> <i class="icon icon-Duplicate-Window color--primary"></i>
                                    <div class="feature__body">
                                        <h5>Free transaction fee</h5>
                                        <p>Since this is built on the permissioned blockchain, we can&nbsp;set zero transaction fee and able to handle spam at the same time.</p>
                                    </div>
                                </div>
                                <div class="feature feature-2"> <i class="icon icon-Life-Jacket color--primary"></i>
                                    <div class="feature__body">
                                        <h5>Bitcoin compatibility</h5>
                                        <p>We have backward compatibility with bitcoin, which means you can use existing libraries to mess around with.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="switchable feature-large unpad--bottom switchable--switch">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="switchable__text">
                                <h2>Distribution</h2>
                                <p class="lead">All token is pre-mined. We create and distribute 1 billion of token so people don't hesitate to give Kudo to other. This token has no value and so far have no intention to be listed on any market.&nbsp;</p>
                                <a href="http://159.65.1.34/Ideachain/assetref/60-265-65453#holders">Check the distribution detail</a>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4 col-xs-12 text-center"><div id="container" style="width:100%; height:100%;"></div> </div>
                    </div>
                </div>
            </section>
            <section class="bg--dark">
                <div class="container">
                    <div class="row">
                        <h2 class="text-center">Contribution</h2>
                        <h4 class="text-center">Several way you can contribute to this project</h4>
                        <div class="col-sm-10 col-sm-offset-1">
                            <div class="tabs-container tabs--vertical">
                                <ul class="tabs">
                                    <li class="active">
                                        <div class="tab__title"> <span class="h5">Create node</span> </div>
                                        <div class="tab__content">
                                            <p class="lead"> Run a node and request to connect our main node. You can create many application around kudo and your node including block explorer, or even payment processor. This way you help the stability of the network. It can runs with 5$ droplet in digitalocean.</p>
                                            <p class="lead"> You will also granted 10K of Kudo every day transfered directly to your address. This distribution is valid until 200 Million Dedicated Kudos runs out.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tab__title"> <span class="h5">Create wallet apps</span> </div>
                                        <div class="tab__content">
                                            <p class="lead"> Stack offers a clean and contemporary look to suit a range of purposes from corporate, tech startup, marketing site to digital storefront. Elements have been designed to showcase content in a diverse yet consistent manner. </p>
                                            <p class="lead"> Multiple font and colour scheme options mean that dramatically altering the look of your site is just clicks away — Customizing your site in the included Variant Page Builder makes experimenting with styles and content arrangements dead simple. </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tab__title"> <span class="h5">Write Tutorial</span> </div>
                                        <div class="tab__content">
                                            <p class="lead"> Medium Rare is an elite author known for offering high-quality, high-value products backed by timely and personable support. Recognised and awarded by Envato on multiple occasions for producing consistently outstanding products, it's no wonder over 20,000 customers enjoy using Medium Rare templates. </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="text-center">
                        <h2 class="text-center">Team</h2>
                        <h4 class="text-center">The persons behind this playcoin</h4>             
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="feature feature-8"> <img alt="Image" class="img-circle" src="/static/img/virkillprofile.jpg">
                                <h5>Arif VirKill Yulian</h5> <span>Founder &amp; Blockchain Developer</span> </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="feature feature-8"> <img class="img-circle" alt="Image" src="/static/img/thetnaingsoe.jpg">
                                <h5>Htet Naing Soe</h5> <span>Co-Founder &amp; Community Developer</span> </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="feature feature-8"> <img alt="Image" class="img-circle" src="/static/img/greg.jpg">
                                <h5>Gregory</h5> <span>Advisor</span> </div>
                        </div>
                    </div>
                </div>
            </section>            
            <section class="bg--secondary">
                <div class="container">
                    <div class="row">
                        <div class="slider slider--inline-arrows slider--arrows-hover text-center" data-arrows="true">
                            <ul class="slides">
                                <li class="col-sm-3 col-xs-6"> <img alt="Image" class="image--xxs" src="static/img/partner-1.png"> </li>
                                <li class="col-sm-3 col-xs-6"> <img alt="Image" class="image--xxs" src="static/img/partner-2.png"> </li>
                                <li class="col-sm-3 col-xs-6"> <img alt="Image" class="image--xxs" src="static/img/partner-3.png"> </li>
                                <li class="col-sm-3 col-xs-6"> <img alt="Image" class="image--xxs" src="static/img/partner-4.png"> </li>
                                <li class="col-sm-3 col-xs-6"> <img alt="Image" class="image--xxs" src="static/img/partner-5.png"> </li>
                                <li class="col-sm-3 col-xs-6"> <img alt="Image" class="image--xxs" src="static/img/partner-6.png"> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="text-center-xs space--xs">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-7">
                            <ul class="list-inline">
                                <li> <a href="#"><span class="h6 type--uppercase"><p>About</p></span></a> </li>
                                <li> <a href="#"><span class="h6 type--uppercase">Github</span></a> </li>
                                <li> <a href="#"><span class="h6 type--uppercase">Support</span></a> </li>
                            </ul>
                        </div>
                        <div class="col-sm-5 text-right text-center-xs">
<!--                             <ul class="social-list list-inline list--hover">
                                <li><a href="#"><i class="socicon socicon-google icon icon--xs"></i></a></li>
                                <li><a href="#"><i class="socicon socicon-twitter icon icon--xs"></i></a></li>
                                <li><a href="#"><i class="socicon socicon-facebook icon icon--xs"></i></a></li>
                                <li><a href="#"><i class="socicon socicon-instagram icon icon--xs"></i></a></li>
                            </ul> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-7"> <a class="type--fine-print" href="#">Privacy Policy</a> <a class="type--fine-print" href="#">Legal</a> </div>
                        <div class="col-sm-5 text-right text-center-xs"> <a class="type--fine-print" href="#">virkill@gmail.com</a> </div>
                    </div>
                </div>
            </footer>
        </div>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="{{ url_for('static',filename='js/jquery-3.1.1.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/flickity.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/parallax.js') }}"></script>
        <script src="{{ url_for('static',filename='js/countdown.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/smooth-scroll.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/scripts.js') }}"></script>
        <script>
            $(function () { 
    var myChart = Highcharts.chart('container', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: ''
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            }
        }
    },
    series: [{
        name: 'Token',
        colorByPoint: true,
        data: [{
            name: 'Founder',
            y: 30
        }, {
            name: 'Hackathon participant',
            y: 15,
            sliced: true,
            selected: true
        }, {
            name: 'Nodes',
            y: 20
        }, {
            name: 'Faucet',
            y: 10
        }, {
            name: 'Bounty',
            y: 25
        }]
    }]
});
});
        </script>

    </body>

</html>