<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ url_for('static',filename='css/stack-interface.css') }}" rel="stylesheet" type="text/css" media="all">
        <link href="{{ url_for('static',filename='css/socicon.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ url_for('static',filename='css/iconsmind.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ url_for('static',filename='css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ url_for('static',filename='css/flickity.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ url_for('static',filename='css/stack-interface.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ url_for('static',filename='css/theme.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ url_for('static',filename='css/custom.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700" rel="stylesheet">


    </head>
    <body data-smooth-scroll-offset="77">
        {% include 'header.html' %}   
        <div class="main-container">
            <section class="cover height-80 imagebg text-center" data-overlay="4">
                <div class="background-image-holder"> <img alt="background" src="static/img/aawall2.jpg"> </div>
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-sm-8 col-md-7">
                            <h1> Myanmar experimental crypto token</h1>
                            <p class="lead">We have created 1 billion units of a digital token we call “Kudos” (plural of Kudo) to distribute for fun, learning and organizational expediency at the UniHack Challenge 3, which his focused this year on blockchain technology. Our aim is to familiarize people with crypto-economics in as simple way as possible with an interactive ‘network’ experience. Join us at Yangon Technological University on 22-25 February 2018, get your digital tokens and see what you can do with it!</p>
                            <a class="btn btn--primary type--uppercase" href="/wallet/newaddress"> <span class="btn__text">
						Get Your Kudo Wallet Now</span> </a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="switchable feature-large  bg--dark">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-5">
                            <div class="switchable__text">
                                <h2>Build to be a catalyst for Myanmar blockchain developer</h2>
                                <p class="lead">There are many approaches to introduce blockchain and a digital token ecosystem in business. We have created Kudo on a permissioned blockchain (one that requires permission to join the node) to simplify the security. It will also create a controlled environment where people can start to collaborate and see what they can do in the ecosystem.</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="boxed boxed--lg boxed--border">
                                <div class="feature feature-2"> <i class="icon icon-Timer color--primary"></i>
                                    <div class="feature__body">
                                        <h5>Faster confirmation</h5>
                                        <p>Unlike 10 minutes in Bitcoin, Kudo&nbsp;confirmation time is 40 times fasters.</p>
                                    </div>
                                </div>
                                <div class="feature feature-2"> <i class="icon icon-Balloon color--primary"></i>
                                    <div class="feature__body">
                                        <h5>Free transaction fee</h5>
                                        <p>Since this is built on the permissioned blockchain, we can&nbsp;set zero transaction fee and able to handle spam at the same time.</p>
                                    </div>
                                </div>
                                <div class="feature feature-2"> <i class="icon icon-Bitcoin color--primary"></i>
                                    <div class="feature__body">
                                        <h5>Bitcoin compatibility</h5>
                                        <p>We have backward compatibility with bitcoin, which means you can use existing libraries to mess around with.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="text-center bg--secondary">
                                <div class="container">
                                    <h2 class="text-center">How it works?</h2>
                                    <div class="row">
                                        <div class="col-sm-4 col-xs-12">
                                            <div class="feature">
                                                <div class="radial" data-value="33" data-size="208" data-bar-width="8" data-color="#4a90e2">
                                                    <span class="h3 radial__label">1.<br>Create wallet</span>
                                                </div>
                                                <!--end radial-->
                                                <p>
                                                    Generate a paper wallet from <a href="/wallet/newassress">here</a>. Later on you can use different type of wallet like mobile wallet but paper wallet is the safest one as long as you keep the private key secret.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-xs-12">
                                            <div class="feature">
                                                <div class="radial" data-value="66" data-size="208" data-bar-width="8" data-color="#4a90e2">
                                                    <span class="h3 radial__label">2.<br> Get Kudo</span>
                                                </div>
                                                <!--end radial-->
                                                <p>
                                                    Now get some Kudo! There are several ways to get Kudo. The easiest way is from <a href="/faucet">Faucet</a> or join our <a href="http://www.unihackchallenge.org/">hackathon</a>. Later on you can run a node server and get daily Kudo, doing several reward program, or simply ask from others.  
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-xs-12">
                                            <div class="feature">
                                                <div class="radial" data-value="100" data-size="208" data-bar-width="8" data-color="#4a90e2">
                                                    <span class="h3 radial__label">3. <br> Send to others</span>
                                                </div>
                                                <!--end radial-->
                                                <p>
                                                    There is a reason we name it Kudo. So you can use it as a token of support or appreciation to other people in Myanmar Blockchain community. This is our way to encourage community while learning.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end of row-->
                                </div>
                                <!--end of container-->
                            </section>     
            <section class="switchable feature-large unpad--bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="switchable__text">
                                <h2>Introducing Kudo Social Wallet</h2>
                                <p class="lead"> This wallet is designed to be fun and simple. Integrating simple social media where people simply use their address instead of account. All post are published on blockchain and as a fun touch we generate robot avatar unique to your address. Bored of it? Just create new wallet. Just don't forget to backup your private key. </p> 
<a class="btn btn--primary btn--icon" href="static/KudoSocial.apk">
    <span class="btn__text"><i class="icon-download"></i>Download APK</span>
</a>
                                 </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xs-12 text-center"> <img alt="Image" src="static/img/kudosocial.png"> </div>
                    </div>
                </div>
            </section>                            
            <section class="bg--dark">
                <div class="container">
                    <h2 class="text-center">Our Roadmaps</h2>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                            <div class="process-1">
                                <div class="process__item">
                                    <h4>February 2018<br> Kickoff</h4>
                                    <p> We setup the first node, setup blockexplorer, starting the website under sendkudo.org, paper wallet, sand held the first Blockchain Hackathon in Myanamar.</p>
                                </div>
                                <div class="process__item">
                                    <h4>March 2018<br> Publish Whitepaper and 2 Wallet</h4>
                                    <p> The goal is to finish documentation on whitepaper, api, marketing plan while finish two different Kudo wallets. </p>
                                </div>
                                <div class="process__item">
                                    <h4>May 2018<br> Payment Gateway and Marketplce sandbox</h4>
                                    <p> We will introduce a platform to integrate crypto payment into any other platform including chatbot, mobile apps, or web apps. A Light Markeplace will be build where people can try to exchange some digital asset with Kudo. </p>
                                </div>
                                <div class="process__item">
                                    <h4>To be continued...</h4>
                                    <p> Kudo is build from community to community. See how far it can lived.</p>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
            </section>                                   
            <section class="switchable feature-large unpad--bottom switchable--switch">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="switchable__text">
                                <h2>Distribution</h2>
                                <p class="lead">All token is pre-mined. We create and distribute 1 billion of token so people don't hesitate to give Kudo to other. This token has no value and so far have no intention to be listed on any market.&nbsp;</p>
                                <a href="http://159.65.1.34/Ideachain/assetref/60-265-65453#holders">Check the distribution detail</a>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4 col-xs-12 text-center"><div id="container" style="width:100%; height:100%;"></div> </div>
                    </div>
                </div>
            </section>
            <section class="bg--dark">
                <div class="container">
                    <div class="row">
                        <h2 class="text-center">FAQ</h2>
                        <h4 class="text-center">Frequently Asked Question</h4>
                        <div class="col-sm-10 col-sm-offset-1">
                            <div class="tabs-container tabs--vertical">
                                <ul class="tabs">
                                    <li class="active">
                                        <div class="tab__title"> <span class="h5">What can I use with my Kudo?</span> </div>
                                        <div class="tab__content">
                                            <p class="lead"> You can store it on your wallet, send it to people. That's it. Treat it as a 'like' in facebook. But you have limited 'like' and there are limited amount of 'like' in existence.</p>
                                            <p class="lead"> But who know someday someone are willing to pay to get your Kudo or you can exchange to many cool stuff with your Kudo. We are preparing some stuff too.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tab__title"> <span class="h5">Does it have any value? Should I pay for it?</span> </div>
                                        <div class="tab__content">
                                            <p class="lead"> No. Currently we are creating several program as means to give away Kudo for Free. However this is limited up to 1 billion Kudo to be distributed. So eventhough it is free, Kudo is limited asset. </p>
                                            <p class="lead"> Its not impossible when someday people offer something in exchange of X amount of Kudo, then it is start getting its natural value based on people's demand.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tab__title"> <span class="h5">What makes Kudo special?</span> </div>
                                        <div class="tab__content">
                                            <p class="lead"> Kudo is a cryptoasset reside on blockchain, which means it cannot be duplicated. Cannot be transferred to other address without posession of private keys, unlike other digital things who can be easily duplicated or modifed by database administrator or anyone who have access to database. </p>
                                            <p class="lead">What makes Kudo special is its free transaction cost. To be sustainable, almost all of cryptocurrency require transaction fee, while Kudo transaction fee by nature is zero. </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tab__title"> <span class="h5">Can I get Kudo by mining? Just like bitcoin or ethereum?</span> </div>
                                        <div class="tab__content">
                                            <p class="lead"> Kudo is 100% premined. It is common in certain cryptocoin such as NANO (previously XRB). Mining Kudo is restricted to trusted node due to its permissioned nature (big cryptocurrency such as XRP also use this method) only as means to seal the transaction block and no Kudo reward is acquired. </p>
                                            <p class="lead">You can get certain amount of Kudo (by this time is 10.000/day) simply by running a node.</p>
                                        </div>
                                    </li>  
                                    <li>
                                        <div class="tab__title"> <span class="h5">What happened if I lost my private key? How to secure my Kudo? </div>
                                        <div class="tab__content">
                                            <p class="lead"> If you lose your private key, your Kudo is gone. That's it. Due to the cryptographic nature, there's no way you can get your private key if you forget or lose it. Which means you cannot send your Kudo to anyone. We don't store your private key in our database. This is to ensure the security. In pricipal, private key is THE proof of ownership of a Kudo in a particular address. </p>
                                            <p class="lead">To save a Kudo. You can split into several address. Ensure that you not store it digitally in computer without encryption and never share it with anyone. If you need to share, create a wallet and transfer to that amount. Create new wallet is very easy and fast.</p>
                                        </div>
                                    </li>                                                                        
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="text-center">
                        <h2 class="text-center">Team</h2>
                        <h4 class="text-center">The persons behind this playcoin</h4>             
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="feature feature-8"> <img alt="Image" class="img-circle" src="/static/img/virkillprofile.jpg">
                                <h5>Arif VirKill Yulian</h5> <span>Founder &amp; Blockchain Developer</span> </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="feature feature-8"> <img class="img-circle" alt="Image" src="/static/img/thetnaingsoe.jpg">
                                <h5>Thet Naing Soe</h5> <span>Co-Founder &amp; Community Developer</span> </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="feature feature-8"> <img alt="Image" class="img-circle" src="/static/img/greg.jpg">
                                <h5>Gregory Sanstrom</h5> <span>Advisor</span> </div>
                        </div>
                    </div>
                </div>
            </section>            
            <section class="bg--secondary">
                <div class="container">
                    <div class="row">
                        <div class="slider slider--inline-arrows slider--arrows-hover text-center" data-arrows="true">
                            <ul class="slides">
                                <li class="col-sm-3 col-xs-6"> <img alt="Image" class="image--sm" src="static/img/unihack.png"> </li>
                                <li class="col-sm-3 col-xs-6"> <img alt="Image" class="image--sm" src="static/img/idealab.png"> </li>
                                <li class="col-sm-3 col-xs-6"> <img alt="Image" class="image--sm" src="static/img/newwest.png"> </li>
                                <li class="col-sm-3 col-xs-6"> <img alt="Image" class="image--sm" src="static/img/burmalist.png"> </li>
                                <li class="col-sm-3 col-xs-6"> <img alt="Image" class="image--sm" src="static/img/coursecom.png"> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
{% include 'footer.html' %}  
        </div>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="{{ url_for('static',filename='js/jquery-3.1.1.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/easypiechart.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/flickity.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/parallax.js') }}"></script>
        <script src="{{ url_for('static',filename='js/countdown.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/smooth-scroll.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/scripts.js') }}"></script>
        <script>
            $(function () { 
    var myChart = Highcharts.chart('container', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: ''
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            }
        }
    },
    series: [{
        name: 'Token',
        colorByPoint: true,
        data: [{
            name: 'Founder',
            y: 30
        }, {
            name: 'Hackathon participant',
            y: 15,
            sliced: true,
            selected: true
        }, {
            name: 'Nodes',
            y: 20
        }, {
            name: 'Faucet',
            y: 10
        }, {
            name: 'Bounty',
            y: 25
        }]
    }]
});
});
        </script>

    </body>

</html>