<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ url_for('static',filename='css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ url_for('static',filename='css/stack-interface.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ url_for('static',filename='css/theme.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ url_for('static',filename='css/custom.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ url_for('static',filename='css/loader.css') }}" rel="stylesheet" type="text/css" media="all" />        
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700" rel="stylesheet">

    </head>
    <body data-smooth-scroll-offset="77" onload="myFunction()">
        <div class="nav-container"> </div>
        <div class="main-container">
            <section id="qrcode" style="display:none;" class="switchable feature-large">
                <div class="container">
                    <h1 class="text-center"></h1>
                    <div class="row">
                        <div class="col-sm-6 text-center"> <img alt="Image" class="border--round box-shadow-wide" src="{{ qrcode('726783491gh2jkebawwjy42873egbjahsbdahj') }}"> </div>
                        <div class="col-sm-6 col-md-5">
                            <div class="switchable__text">
                                <h2></h2>
                                <p class="lead">This is your address. Show this every time you ask someone to send Kudo to you. You can publish as you want on your website, page, etc. You can also create many address and split your Kudo balance. Scan the QR code or copy the address below to use it. They are the same.</p>
                                <div class="boxed bg--secondary"><p>jkahdjkasdnkj</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="loader" class="text-center imagebg" data-gradient-bg="#4876BD,#5448BD,#8F48BD,#BD48B1">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-9 col-md-8">
                            <div style="height:25vh"></div>
                            <h1 class="ml6">
                              <span class="text-wrapper">
                                <span class="letters">Prepare your Kudo Wallet</span>
                              </span>
                            </h1>
                            <div style="height:25vh"></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <script src="{{ url_for('static',filename='js/jquery-3.1.1.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/parallax.js') }}"></script>
        <script src="{{ url_for('static',filename='js/granim.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/countdown.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/smooth-scroll.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/scripts.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
         <script src="{{ url_for('static',filename='js/loader.js') }}"></script>
        <script type="text/javascript">
                var myVar;

                function myFunction() {
                    myVar = setTimeout(showPage, 4000);
                }

                function showPage() {
                  document.getElementById("loader").style.display = "none";
                  document.getElementById("qrcode").style.display = "block";
                }
        </script>
    </body>

</html>